@{
    ViewData["Title"] = "Mis Notas Internas";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/ni-generadas.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/ni-generadas.min.js"></script>
</environment>

}


<div class="row">
   
         <table     id="tabla-generica" 
                    data-toggle="table"
                    data-url="/api/wf/v1/documentos-generados/@ViewBag.tipoDocumento"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-sort-name="expediente.packNotaria.fechaEnvio"
                    data-page-list="[]"
                    data-page-size="40"
                    data-pagination="true" 
                    data-show-pagination-switch="false"
                    data-locale="es-CL">
        <thead>
            @if(ViewBag.tipoDocumento == "nomina-notaria")
            {
                <tr>
                    <th data-field="codigoSeguimiento" data-sortable="true" data-formatter="linkFolio">Folio Crédito</th>
                    <th data-field="codigoSeguimiento" data-sortable="true" data-formatter="nroExpedientes">Nro. Expedientes</th>
                    <th data-field="fechaEnvio" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                </tr>
            }
            else if(ViewBag.tipoDocumento == "valija-oficina")
            {
                <tr>
                    <th data-field="codigoSeguimiento" data-sortable="true" data-formatter="linkFolio">Folio Crédito</th>
                    <th data-field="codigoSeguimiento" data-sortable="true" data-formatter="nroExpedientes">Nro. Expedientes</th>
                    <th data-field="fechaEnvio" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                </tr>
            }
            else if(ViewBag.tipoDocumento == "valija-valorada")
            {
                <tr>
                    <th data-field="codigoSeguimiento" data-sortable="true" data-formatter="linkFolio">Folio Crédito</th>
                    <th data-field="codigoSeguimiento" data-sortable="true" data-formatter="nroExpedientes">Nro. Expedientes</th>
                    <th data-field="fechaEnvio" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                </tr>
            }
        </thead>
    </table>
    
   
</div>
<input type="hidden" id="tipoDocumento" value="@ViewBag.tipoDocumento" />

<canvas id="barcode"></canvas>