@{
    ViewData["Title"] = "Envío a Notaría";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/despachoNotaria.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/despachoNotaria.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">                      
        <div class="btn-group">
            <button class="btn btn-default" data-target="#modal-pistoleo" data-toggle="modal"><i class="glyphicon glyphicon-barcode"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <table          id="tabla-generica"
                    data-toggle="table"
                    data-url="/api/wf/v1/mis-solicitudes/@ProcesoDocumentos.ETAPA_ENVIO_NOTARIA"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-sort-name="credito.folioCredito"
                    data-page-list="[]"
                    data-page-size="20"
                    data-side-pagination="server"
                    data-pagination="true" data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="expediente.credito.folioCredito" data-sortable="true">Folio Crédito</th>
                <th data-field="expediente.credito.rutCliente" data-align="center" data-sortable="true" >Rut Afiliado</th>
                <th data-field="expediente.credito.tipoCredito" data-sortable="true" data-formatter="formatoTipoCredito">Tipo Crédito</th>
                <th data-field="expediente.credito.folioCredito" data-align="left" data-sortable="false" data-formatter="formatoListaDocumentos">Documentos</th>
                <th data-field="expediente.credito.fechaDesembolso" data-sortable="true" data-formatter="formatoFecha">Fecha Colocación</th>
            </tr>
        </thead>
    </table>
</div>


<!--Default Bootstrap Modal-->
<!--===================================================-->
<div class="modal fade" id="modal-pistoleo" role="dialog" tabindex="-1" aria-labelledby="modal-pistoleo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="frm-pistoleo">
                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">Generar Nómina de Envío a Notaría</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Pistolea el documento</label>
                        <input type="text" id="folio-shot" class="form-control solo-numeros" maxlength="@ViewBag.CantidadCaracteresFolio" placeholder="Pistolea el documento" autocomplete="off" />
                    </div>
                    <div class="well contenedor-folios">
                        
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <div class="col-sm-6 col-md-6">
                        <select id="notaria-destino" class="form-control">
                            @foreach(var ntr in ViewBag.NotariasOficina)
                            {
                                <option value="@ntr.Id">@ntr.Nombre</option>
                            }
                        </select>
                    </div>
                    
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-generar-generico">Generar Nómina</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Default Bootstrap Modal-->
<canvas id="barcode"></canvas>