@{
    ViewData["Title"] = "Almacenaje Set Comercial";
}

@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/almacenajeComercial.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/almacenajeComercial.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-12 table-toolbar-left">                      
        <div>
            <a class="btn btn-primary" href="/wf/v1/almacenaje-set-comercial"><i class="glyphicon glyphicon-list-alt"></i> Volver</a> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info"><strong>Tip!</strong> El buscador sirve para encontrar cualquier coincidencia.</div>
    </div>
</div>
<div class="row">
    <table          id="tabla-generica"
                    data-toggle="table"
                    data-url="/api/wf/v1/historial-cajas-comerciales"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-page-list="[]"
                    data-page-size="30"
                    data-pagination="true" data-show-pagination-switch="false">
        <thead>
            <tr>
                <th data-field="codigoSeguimiento" data-formatter="formatoIncrementor" data-sortable="false">#</th>
                <th data-field="codigoSeguimiento" data-sortable="false" data-formatter="formatoLinked">Folio Caja</th>
                <th data-field="fecha" data-sortable="false" data-formatter="formatoFecha">Fecha Cierre Caja</th>
            </tr>
        </thead>
    </table>
</div>