@{
    ViewData["Title"] = "Revisión de Expedientes Legalizados";
}


@section breadcumbs{
    <li><a href="#"><i class="demo-pli-home"></i></a></li>
    <li>Etapas</li>
    <li class="active">@ViewData["Title"]</li>
}

@section script{

 <!--Page Script-->
<environment include="Development">
    <script src="~/js/revisionDocumentosRM.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/revisionDocumentosRM.min.js"></script>
</environment>

}

<div class="row">
    <div class="col-sm-6 table-toolbar-left">                      
        <div class="btn-group">
            <button class="btn btn-primary" id="btn-generar-generico" type="button"><i class="glyphicon glyphicon-list-alt"></i> Procesar Documentos</button>
        </div>
    </div>
</div>
<div class="row">
    <table          id="tabla-generica" 
                    data-toggle="table"
                    data-url="/api/wf/v1/mis-solicitudes/@ProcesoDocumentos.ETAPA_REVISION_DOCUMENTOS_NOTARIA_RM"
                    data-search="true"
                    data-show-refresh="false"
                    data-show-toggle="false"
                    data-show-columns="false"
                    data-sort-name="expediente.packNotaria.fechaEnvio"
                    data-page-list="[]"
                    data-page-size="40"
                    data-pagination="true" 
                    data-side-pagination="server"
                    data-show-pagination-switch="false"
                    data-locale="es-CL">
        <thead>
            <tr>
                <th data-field="expediente.credito.folioCredito" data-events="operateEvents" data-formatter="formatoReparo">Reparo?</th>
                <th data-field="expediente.credito.folioCredito" data-sortable="true">Folio Credito</th>
                <th data-field="expediente.credito.rutCliente" data-align="center" data-sortable="true" >Rut Afiliado</th>
                <th data-field="expediente.credito.tipoCredito" data-sortable="true" data-formatter="formatoTipoCredito">Tipo Crédito</th>
                <th data-field="expediente.credito.folioCredito" data-align="left" data-sortable="false" data-formatter="formatoListaDocumentos">Documentos</th>
                <th data-field="expediente.credito.fechaDesembolso" data-sortable="true" data-formatter="formatoFecha">Fecha Desembolso</th>
                <th data-field="expediente.packNotaria.fechaEnvio" data-align="center" data-sortable="true" data-formatter="formatoFecha">Fecha Envío</th>
                <th data-field="expediente.packNotaria.codigoSeguimiento" data-align="center" data-sortable="true">Folio Envío</th>
            </tr>
        </thead>
    </table>
</div>
