﻿<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] | Galvarino Workflow v1.0, Información Analítica</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="~/lib/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/main.min.css" rel="stylesheet">    
    @RenderSection("style", false)
    <!--=================================================-->


        
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg footer-fixed">
        
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="/wf/v1/mis-solicitudes" class="navbar-brand">
                        <img src="~/images/logo.png" alt="Galvarino Logo" class="brand-icon" >
                        <div class="brand-title">
                            <span class="brand-text" style="font-family: 'Satisfy', cursive; font-size: 30px;">Galvarino</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content">
                    <ul class="nav navbar-top-links">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-list-view"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->



                        <!--Search-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li>
                            <div class="custom-search-form">
                                <label class="btn btn-trans" for="search-input" data-toggle="collapse" data-target="#nav-searchbox">
                                    <i class="demo-pli-magnifi-glass"></i>
                                </label>
                                <form id="form-busqueda-general">
                                    <div class="search-container collapse" id="nav-searchbox">
                                        <input id="search-input" type="text" class="form-control" placeholder="Buscar..." autocomplete="off">
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Search-->

                    </ul>
                    <ul class="nav navbar-top-links">




                        <!--Notification dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        @*<li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="demo-pli-bell"></i>
                                <span class="badge badge-header badge-danger"></span>
                            </a>


                            <!--Notification dropdown menu-->
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                <div class="nano scrollable">
                                    <div class="nano-content">
                                        <ul class="head-list">
                                            <li>
                                                <a href="#" class="media add-tooltip" data-title="Used space : 95%" data-container="body" data-placement="bottom">
                                                    <div class="media-left">
                                                        <i class="demo-pli-data-settings icon-2x text-main"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="text-nowrap text-main text-semibold">HDD is full</p>
                                                        <div class="progress progress-sm mar-no">
                                                            <div style="width: 95%;" class="progress-bar progress-bar-danger">
                                                                <span class="sr-only">95% Complete</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <i class="demo-pli-file-edit icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Write a news article</p>
                                                        <small>Last Update 8 hours ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <span class="label label-info pull-right">New</span>
                                                    <div class="media-left">
                                                        <i class="demo-pli-speech-bubble-7 icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Comment Sorting</p>
                                                        <small>Last Update 8 hours ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <i class="demo-pli-add-user-star icon-2x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">New User Registered</p>
                                                        <small>4 minutes ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/9.png">
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Lucy sent you a message</p>
                                                        <small>30 minutes ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="media" href="#">
                                                    <div class="media-left">
                                                        <img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/3.png">
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mar-no text-nowrap text-main text-semibold">Jackson sent you a message</p>
                                                        <small>40 minutes ago</small>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Dropdown footer-->
                                <div class="pad-all bord-top">
                                    <a href="#" class="btn-link text-main box-block">
                                        <i class="pci-chevron chevron-right pull-right"></i>Show All Notifications
                                    </a>
                                </div>
                            </div>
                        </li>*@
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End notifications dropdown-->



                        <!--User dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="ic-user pull-right">
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <!--You can use an image instead of an icon.-->
                                    <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                    <i class="demo-pli-male"></i>
                                    <span class="badge badge-header badge-danger"></span>
                                </span>
                                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                                <!--You can also display a user name in the navbar.-->
                                <!--<div class="username hidden-xs">Aaron Chavez</div>-->
                                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                            </a>


                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                <ul class="head-list">
                                    <li>
                                        <a href="#"><span class="badge badge-danger pull-right">0</span><i class="demo-pli-mail icon-lg icon-fw"></i> Notificaciones</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
 
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                <div id="page-head">
                    
                    <!--Page Title-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <div id="page-title">
                        <h1 class="page-header text-overflow">@ViewData["Title"]</h1>
                    </div>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End page title-->


                    <!--Breadcrumb-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <ol class="breadcrumb">
                        @RenderSection("breadcumbs", false)
					    @*<li><a href="#"><i class="demo-pli-home"></i></a></li>
					    <li><a href="#">Layouts</a></li>
					    <li class="active">Fixed Footer</li>*@
                    </ol>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End breadcrumb-->

                </div>

                
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
					<div class="row">
					    <div class="col-lg-12">
					        <div class="panel panel-body text-center">
                                <div class="panel-body">
                                    @if(User.IsInRole("Mantenedor de Sistema"))
                                    {
                                        
                                        @foreach(var cl in User.Claims)
                                        {
                                            <script>console.log("@cl.Type", "@cl.Value");</script>
                                        }
                                    }
                                    @RenderBody()
                                </div>
					        </div>
					    </div>
					</div>
					
					<hr class="new-section-md bord-no">
					
					
                </div>
                <!--===================================================-->
                <!--End page content-->

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                               <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="/lib/img/profile-photos/5.png" alt="Profile Picture">
                                        </div>
                                        <a href="#" class="box-block collapsed">
                                            <p class="mnp-name">@User.Claims.FirstOrDefault(x => x.Type==CustomClaimTypes.UsuarioNombres).Value</p>
                                            <span class="mnp-desc">@User.Claims.FirstOrDefault(x => x.Type==CustomClaimTypes.UsuarioCorreo).Value</span>
                                            <span class="mnp-desc">@User.Claims.FirstOrDefault(x => x.Type==CustomClaimTypes.OficinaDescripcion).Value</span>
                                        </a>
                                    </div>
                                </div>

                                <ul id="mainnav-menu" class="list-group">
						
						            <!--Category name-->
						            <li class="list-header">Navegación</li>
						
                                    <!--Menu list item-->
                                    <li>
						                <a href="/wf/v1/mis-solicitudes">
						                    <i class="demo-pli-home"></i>
						                    <span class="menu-title">Mi Resumen</span>
						                </a>
						            </li>

                                    <li>
						                <a href="#">
						                    <i class="demo-pli-file"></i>
						                    <span class="menu-title">Nóminas Generadas</span>
                                            <i class="arrow"></i>
						                </a>
                                        <ul class="collapse">
                                             <li><a href="/wf/v1/notas-internas/generadas/nomina-notaria">Nóminas a Notaría</a></li>
                                             <li><a href="/wf/v1/notas-internas/generadas/valija-oficina">Nómina a Of. de Legalización</a></li>
                                             <li><a href="/wf/v1/notas-internas/generadas/valija-valorada">Nóminas a Of. de Partes</a></li>
                                        </ul>
						            </li>

                                    <!--Category name-->
						            <li class="list-header">Etapas</li>
						            <!--Menu list item-->
                                    @if(User.IsInRole("Encargado Expedientes") || User.IsInRole("Mantenedor de Sistema"))
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-office"></i>
                                                <span class="menu-title">Oficina</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                @if(User.HasClaim(CustomClaimTypes.EsOficinaRM, "True") || User.IsInRole("Mantenedor de Sistema"))
                                                {
                                                    <li><a href="/wf/v1/preparar-nomina">Preparar Nómina Despacho</a></li>
                                                }

                                                @if(User.HasClaim(CustomClaimTypes.EsOficinaRM, "False") || User.IsInRole("Mantenedor de Sistema"))
                                                {
                                                    <li><a href="/wf/v1/despacho-oficina-matriz">Envío a Of. de Legalización</a></li>
                                                    <li><a href="/wf/v1/recepcion-expedientes">Recepción Expedientes a Legalizar</a></li>
                                                    <li><a href="/wf/v1/envio-a-notaria">Envio a Notaría</a></li>
                                                    <li><a href="/wf/v1/recepciona-notaria">Recepción Notaría</a></li>
                                                    <li><a href="/wf/v1/revision-documentos">Revisión Documentos</a></li>
                                                    <li><a href="/wf/v1/despacho-reparo-notaria">Devolución Reparo a Notaría</a></li>
                                                }
                                                <li><a href="/wf/v1/despacho-sucursal-oficiana-partes">Despacho a Of. Partes</a></li>
                                                <li><a href="/wf/v1/solucion-reparo-sucursal">Recepcion y Solución Reparos</a></li>
                                                <li><a href="/wf/v1/solucion-expediente-faltante">Expediente o Documentación Faltante</a></li>
                                                <li><a href="/wf/v1/almacenaje-set-comercial">Almacenaje Set Comercial</a></li>
                                                <li><a href="/wf/v1/marcar-documentos-legalizados">Preprarar Nómina Especial</a></li>
                                                
                                                
                                            </ul>
                                        </li>
                                    }
						            


                                    <!--Menu list item-->
                                    @if(User.IsInRole("Oficina Partes") || User.IsInRole("Mantenedor de Sistema"))
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-layout-grid"></i>
                                                <span class="menu-title">Of. Partes</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="/wf/v1/recepcion-oficina-partes">Recepción de Of. de Partes</a></li>
                                                <li><a href="/wf/v1/despacho-oficina-correccion">Despacho Oficina para Corrección</a></li>
                                            </ul>
                                        </li>
                                    }
						            
						
                                    @if(User.IsInRole("Mesa Control") || User.IsInRole("Mantenedor de Sistema"))
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-list-view"></i>
                                                <span class="menu-title">Mesa de Control</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="/wf/v1/recepcion-valija">Recepción Valija</a></li>
                                                <li><a href="/wf/v1/apertura-valija">Apertura Valija</a></li>
                                                <li><a href="/wf/v1/analisis-mesa-control">Análisis Expedientes</a></li>
                                                <li><a href="/wf/v1/despacho-reparo-oficina-partes">Despacho Reparos Of. de Partes</a></li>
                                                <li><a href="/wf/v1/despacho-a-custodia">Despacho a Custodia</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="/wf/v1/envio-a-notaria-rm">Envío a Notaría</a></li>
                                                <li><a href="/wf/v1/recepciona-notaria-rm">Recepción Notaría</a></li>
                                                <li><a href="/wf/v1/revision-documentos-rm">Revisión Documentos</a></li>
                                                <li><a href="/wf/v1/devolucion-reparo-notaria-rm">Devolución Reparos a Notaría</a></li>
                                                <li class="list-divider"></li>
                                                <li><a href="/legacy/tubo-pagares-im">Pagarés sin Seguimiento</a></li>
                                            </ul>
                                        </li>
                                    }
						            

                                    <!--Menu list item-->
                                    @if(User.IsInRole("Custodia") || User.IsInRole("Mantenedor de Sistema"))
                                    {
                                        <li>
                                            <a href="#">
                                                <i class="demo-pli-recycling"></i>
                                                <span class="menu-title">Custodia</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="/wf/v1/recepcion-custodia">Recepción Custodia</a></li>
                                            </ul>
                                        </li>
                                    }
						            
						
						            <li class="list-divider"></li>
                                    
                                    @if(User.IsInRole("Mantenedor de Sistema") || User.IsInRole("Administrador Sistema"))
                                    {
                                         <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-heart"></i>
                                                <span class="menu-title">Configuraciones</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="/configuraciones/roles">Roles</a></li>
                                                <li><a href="/configuraciones/usuarios">Usuarios</a></li>
                                                <li><a href="/configuraciones/notarias">Notarías</a></li>
                                                <li><a href="/wf/v1/reasignaciones/oficinas">Reasignación Oficina</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-stats"></i>
                                                <span class="menu-title">Reportes</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="/reportes/workflow/carga-inicial">Carga Inicial</a></li>
                                            </ul>
                                        </li>
                                    }

                                    @if(User.IsInRole("Mantenedor de Sistema"))
                                    {
                                         <li>
                                            <a href="#">
                                                <i class="glyphicon glyphicon-wrench"></i>
                                                <span class="menu-title">Herramientas Dev.</span>
                                                <i class="arrow"></i>
                                            </a>
                            
                                            <!--Submenu-->
                                            <ul class="collapse">
                                                <li><a href="/configuraciones/workflow/procesos">Workflow</a></li>
                                                <li><a href="/configuraciones/documentos">Documentos de Crédito</a></li>
                                            </ul>
                                        </li>
                                    }

                                    
                                    @*
						            <!--Category name-->
						            <li class="list-header">Opciones</li>
						
						            <!--Menu list item-->
						            <li>
						                <a href="#">
						                    <i class="demo-pli-warning-window"></i>
						                    <span class="menu-title">Grid System</span>
											<i class="arrow"></i>
						                </a>
						
						                <!--Submenu-->
						                <ul class="collapse">
						                    <li><a href="grid-bootstrap.html">Bootstrap Grid</a></li>
											<li><a href="grid-liquid-fixed.html">Liquid Fixed</a></li>
											<li><a href="grid-match-height.html">Match Height</a></li>
											<li><a href="grid-masonry.html">Masonry</a></li>
											
						                </ul>
						            </li>*@
						
						        </ul>


                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

         
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <p class="pad-lft">&#0169; 2018 Información Analítica, La Araucana</p>



        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->

    <!--JAVASCRIPT-->
    <!--=================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.4/es6-shim.min.js"></script>
    <script src="~/js/main.min.js"></script>
    @RenderSection("script", false)>
    <!--=================================================-->
    
</body>
</html>
